.card {
  border: 1px solid black;
  border-radius: 5px;
  height: 250px;
  width: 150px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  overflow: auto;
}

.card.face-down {
  cursor: pointer;
}
