<div id="spread" *ngIf="!spreadTitle">
  <span class="input-title">What will be the name of your spread?</span>
  <span class="more-info">
    For example, "Next Step in Life" is a great name for one that consists of
    questions like "What is my next step?", "What do I have to change?",
    and "How can I change this?".
  </span>
  <input id="spread-title" type="text" placeholder="Next Step in Life" [(ngModel)]="spreadTitle" />
</div>

<div id="spread" *ngIf="spreadTitle">
  This is the {{spreadTitle}} spread.
</div>
